.higher-div{
	height: 100px;
	background: linear-gradient(to right, #f8f8f8, #561c24);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.middle-div{
	height: 120px;
}

.top-img{
	/*border-radius: 50%;*/
}
.info{
	padding-top: 30px;
}
.info h5{
	color: #561c24;
}

.info p{
	color: #561c24;
}

.button{
    color: white;
    background-color: #561c24;
    box-shadow: 0px 0px 2px #561c24;
    font-weight: bold;
    border: none;
}

.button:hover,
.button:focus,
.button:active{
    background-color: #b0625a !important;
    color: white !important;
    outline: none;
    box-shadow: none !important;
}


.bottom-div{
	background: linear-gradient(to right, #f8f8f8, #561c24);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 25px 20px;
}
.bottom-div h5,label{
	color:#561c24;
}

input[type="checkbox"] {
    accent-color: #561c24;
}

input[type="radio"] {
    accent-color: #561c24;
    cursor: pointer;
}

.data{
    background-color: #fafafa;
}


.txt{
	background-color: #561c24 ;
	color: white;
	border-color:#b0625a !important ; 
	box-shadow: 2px 2px 2px #b0625a !important;
}
.txt::placeholder{
	background-color: #561c24 !important;
	color:white !important;
}
.txt:focus,
.txt:active {
    background-color: #561c24 !important;
    color: white !important;
}
input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff !important;
    transition: background-color 9999s ease-in-out 0s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}


