{% extends 'base.html' %}
{% load static %}
{% block content %}
	<link rel="stylesheet" type="text/css" href='{% static "customcss/places_to_visit.css" %}'>
	<!-- <script src='{%static "js/bootstrap.bundle.min.js" %}'></script> -->
	

	<div class="row hero-section mb-5" style="padding-top: 66px;">
		<div>
			<h1 class="hero-heading text-center mt-3">Hotels to Stay</h1>
			<p class="hero-text">Find the perfect place to stay and make your visit truly comfortable and memorable. From luxurious hotels offering world-class amenities to budget-friendly accommodations that ensure a cozy experience, this collection caters to every traveler’s needs. Enjoy warm hospitality, convenient locations, and relaxing spaces that feel like a home away from home. Whether you're here for a short visit or an extended stay, explore the best hotels that combine comfort, style, and exceptional service.</p>
		</div>
		
		<div class="text-center badges">
			{% for i in res %}
			<span class="badge rounded-pill">{{i.title}}</span>
			{% endfor %}
		</div>

	</div>

	


	<section class="mid_section">
		<div class="container mb-5">
			<div class="row">
				<h1 class="mid-section-heading">Famous Hotels</h1>
			</div>
		</div>

		<div class="container mb-5 ps-5">
			<div class="row justify-content-center">
				{% for i in res %}
				<div class="col-md-4">
					
					<div class="card mb-5 p-3 rounded-4 overflow-hidden" style="width: 18rem;">
						<div class="position-relative">
					        <a href="{% url 'hotel' id=i.id %}"><img src="{{i.image.url}}" class="card-img-top rounded-4" alt="..." height="200px" width="100%"></a>
						    <i class="icofont-heart wishlist-icon wishlist-icon-card{% if i.id in wishlist_ids %} text-danger {% endif %}" data-id="{{i.id}}" data-type="hotel" ></i>
	    				</div>
						<div class="card-body">
							<h5 class="card-title">{{i.title}}</h5>
							<div class="d-flex align-items-center justify-content-between pt-3">
		    
								<div class="d-flex align-items-center">
								    <i class="icofont-star fs-5 mt-2 text-warning"></i>
								    <p class="mb-0 ms-2 pt-2" style="color: white">
								        {{ i.avg_rating|default:"0"|floatformat:1 }}
								    </p>
								</div>
								<div class="pt-2">
								   	<i class="icofont-link" style="color: white"></i>
		    						<a href="{% url 'hotel' id=i.id %}" class="card-button">See more...</a>
		    					</div>
							</div>
						</div>
					</div>
					
				</div>
				{% endfor %}
			</div>
		</div>
	</section>

	

	<script>

		document.querySelectorAll(".wishlist-icon").forEach(icon => {

		    icon.addEventListener("click", function(){

		        const itemId = this.dataset.id
        		const itemType = this.dataset.type
        		const iconElement = this

		        fetch("/toggle-wishlist/",{
		            method:"POST",
		            headers:{
		                "Content-Type":"application/x-www-form-urlencoded",
		                "X-CSRFToken":"{{ csrf_token }}"
		            },
		            body:"id=" + itemId + "&type=" + itemType
		        })
		        .then(response => response.json())
		        .then(data => {

		            if(data.status === "added"){
		                iconElement.classList.add("text-danger")
		            }

		            if(data.status === "removed"){
		                iconElement.classList.remove("text-danger")
		            }

		        })

		    })

		})

		window.addEventListener("pageshow", function(event) {
        if (event.persisted || performance.getEntriesByType("navigation")[0].type === "back_forward") {
            window.location.reload();
        }
    });

		</script>

{% endblock %}