{% extends 'base.html' %}
{% load static %}
{% block content %}

	<link rel="stylesheet" type="text/css" href='{% static "customcss/form.css" %}'>
	<!-- <script src='{%static "js/bootstrap.bundle.min.js" %}'></script> -->
	
	<div class="row" style="margin-top: 66px;">
		<div class="col-md-5 image">
			<img src="{%static 'Photos/login.png' %}" style="padding-top: 7rem;">
		</div>
		<div class="col-md-7">
			<h1 class="animated-text" style="padding-left: 4rem;"><strong>
	        REGISTER Yourself!
	        </strong></h1>

	        <div class="box">
				<h4>AmritPath</h4>
				<h6>Hey there! We just need a few details from you to get started. Let's do this!</h6>

				<form method="POST" action="">
				{% csrf_token %}

				<div class="row">
					<div class="col-md-6">
						<label for="firstname" class="fw-bold mt-2">FirstName *</label><br>
						<input type="text" id="firstname" name="firstname" placeholder="Enter your FirstName" class="txt form-control" value="{% if ms == 'Incorrect Pass' %} {{firstname}} {% endif %}" required><br>
					</div>
					<div class="col-md-6">
						<label for="lastname" class="fw-bold mt-2">LastName </label><br>
						<input type="text" id="lastname" name="lastname" placeholder="Enter your LastName" class="txt form-control" value="{% if ms == 'Incorrect Pass' %} {{lastname}} {% endif %}"><br>

					</div>
				</div>

				
				<label for="email" class="fw-bold mt-2 d-flex justify-content-between">EMAIL *  <span class="text-danger"> {% if ms == "Already registered" %} Email already exists. {% endif %}</span></label>
				<input type="email" id="email" name="email" placeholder="Enter your email" class="txt form-control" value="{% if ms == 'Incorrect Pass' %} {{email}} {% endif %}" required><br>

				<label for="password" class="fw-bold mt-2">PASSWORD *</label><br>
				<input type="password" id="password" name="password" placeholder="Enter your password" class="txt form-control" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" title="Must contain at least one number and one special character and one uppercase and lowercase letter, and at least 8 or more characters" required><br>

				<label for="confirmpassword" class="fw-bold mt-2">CONFIRM PASSWORD *</label><br>
				<input type="password" id="confirmpassword" name="confirmpassword" placeholder="Confirm your password" class="txt form-control" required> <span class="text-danger"> {% if ms == "Incorrect Pass" %} Confirm Password does not match with your Password. {% endif %}</span><br>
				

				<label class="fw-bold mt-2">User Type *</label>

				<div class="user-toggle mt-3">
				    
				    <div class="toggle-btn active" data-value="Tourist">
				        <p>Tourist</p>
				    </div>

				    <div class="toggle-btn" data-value="Business Owner">
				        <p>Business Owner</p>
				    </div>

				</div>

				<!-- Hidden input -->
				<input type="hidden" name="user_type" id="user_type" value="Tourist" required>


				<button type="submit" class="button search form-control btn fw-bold mt-3" >Sign Up</button><br><br>
				Already have an account?&nbsp;<a href="{% url 'login' %}" style="font-weight: bold; color: #561c24">Login</a>
				</form>
				
			</div>
		</div>
	</div> 

	<script>
		document.addEventListener("DOMContentLoaded", function () {

		    const buttons = document.querySelectorAll(".toggle-btn");
		    const input = document.getElementById("user_type");

		    buttons.forEach(btn => {
		        btn.addEventListener("click", function () {

		            // remove active from all
		            buttons.forEach(b => b.classList.remove("active"));

		            // add active to clicked
		            this.classList.add("active");

		            // set hidden input value
		            input.value = this.getAttribute("data-value");
		        });
		    });

		});
	</script>

{% endblock %}




